// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootswatch
@import 'bootswatch';

body {
  background-image: url('/images/home/halo-infinite-ring-wp.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}